// 文字 主色
$color-171a1d: #171a1d;
// 背景 主色
$color-f2f2f6: #f2f2f6;
// 白色
$color-ffffff: #ffffff;

$color-171a1d99: rgba(23, 26, 29, 0.6);
$color-7e868e: #7e868e;
$color-7e868e29: rgba(126, 134, 142, 0.16);
$color-7868ee: #7868ee;
$color-dddddd: #dddddd;

// 激活 或者 可点击 颜色
$color-007fff: #007fff;
// 问诊中 文字
$color-00b042: #00b042;
// 问诊中 bg
$color-00b0421f: rgba(0,176,66,0.12);
$color-f6f8fa: #f6f8fa;
$color-33afff: #33afff;
$color-646566: #646566;
$color-333333: #333333;
$color-d7d7d7: #d7d7d7;
$color-e75353: #e75353;
// 价格、 必填星号 颜色
$color-ff5219: #ff5219;
// 选择预约 时间 星期 背景颜色
$color-f5f5f5: #f5f5f5;
// 选择预约 时间 星期 已约满 背景颜色
$color-ffedd6: #ffedd6;
// 选择预约 时间 星期 已约满 字体颜色
$color-ffc16f: #ffc16f;
// 可用 提示 颜色
$color-317ed0: #317ed0;
// bolder 颜色 主色 0.24
$color-171a1d3d: rgba(23, 26, 29, 0.24);
// 人数 颜色
$color-007fff1f: rgba(0, 127, 255, 0.12);
// 人数 已满或者剩余未 0 颜色
$color-ff920029: rgba(255, 146, 0, 0.16);
// 底部横线
$color-111f2c1f: rgba(17, 31, 44, 0.12);
// 箭头颜色
$color-bdc1c4d9: rgba(189, 193, 196, 0.85);
//分割线的颜色
$color-f2f2f2: #f2f2f2;
// 审核 驳回
$color-f53f3f: #f53f3f;
// 审核 已审核
$color-c1c1c4: #c1c1c4;

$color-b6b6b6: #b6b6b6;

$color-f9f9f9: #f9f9f9;

// 文案提示
$color-e0edfe: #e0edfe;
