.custom-tabbar-contain {
  width: 100%;
  background: #ffffff;
  display: flex;
  height: 44px;
  position: sticky;
  z-index: 999;
  top: 0;
  .tabbar-item {
    flex: 1;
    box-sizing: border-box;
    position: relative;
    font-size: 14px;
    font-weight: 400;
    color: rgba(23, 26, 29, 0.6);
    line-height: 22px;
    text-align: center;
    padding-top: 10px;
  }
  .tabbar-item-active-text {
    font-weight: 600;
  }
  .tabbar-item-active-border {
    position: absolute;
    bottom: 0;
    display: block;
    width: 20px;
    height: 3px;
    border-radius: 2px;
    left: 50%;
    transform: translateX(-50%);
    bottom: 4px;
  }
}
