.worker-inquiry-list {
    padding-top: 6px;
    .adm-list-body {
      .adm-list-item {
        background-color: #f6f8fa;
        .adm-list-item-content-main {
          padding: 6px;
        }
      }
    }
  }